/* #region reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion reset */

/* #region utilities */
.container {
    max-width: 1140px;
    width: 80%;
    margin: auto;
}

:root {
    --dark_grey: #23272a
}

body {
    font-family: 'Albert Sans', sans-serif;
}

.d-flex {
    display: flex;
}

/* #endregion utilities */

/* #region debug */
.debug .app-header {
    background-image: url("./img/jumbo.png");
    /* questa sará immagine */

    padding-top: 1rem;
    /* soluzione provvisoria per la spaziatura del giallo*/

}

.debug .head-bar {
    margin-bottom: 1rem;
    /* soluzione provvisoria per la spaziatura del giallo*/

    background-color: rgb(234, 189, 11);
}


/* ------------------------------------------------ */
.debug .app-logo {
    width: calc(100%/12 * 2);
    border: 2px dotted;
}

.debug .app-link {
    width: calc(100%/12 * 8);
    text-align: center;
    border: 2px dotted;
}

.debug .app-login {
    width: calc(100%/12 * 2);
    text-align: end;
    border: 2px dotted;
}

/* ------------------------------------------------ */
.debug .jumbo {
    margin: auto;
    height: 200px;
    background-color: blue;
    /* questo centra il contenuto verticalmente*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.debug .jumbo section {
    margin: auto;
    width: 500px;
    height: 100px;
    background-color: rgb(243, 84, 182);
    border: 3px dotted;
}

.debug .app-image {
    height: 200px;
    width: calc(100% / 12 * 4);
    border: 2px dotted;
    background-color: rgb(65, 214, 255);
}

.debug .app-content {
    height: 200px;
    width: calc(100% / 12 * 2);
    border: 2px dotted;
    background-color: rgb(228, 160, 161);
}

.debug .grey-bg {
    background-color: grey;
    padding: 2rem 0;

}

/* ------------------------------------------ inversione colori */
.debug .grey-gb .app-image {
    height: 200px;
    width: calc(100%/12 *2);
    border: 2px dotted;
    background-color: rgb(228, 160, 161);
}

.debug .grey-gb .app-content {
    height: 200px;
    width: calc(100%/12 *4);
    border: 2px dotted;
    background-color: rgb(65, 214, 255);

}

/* -------------------------------------------- inversione colori */
.debug .big-app-image {
    height: 300px;
    width: calc(100%/12 * 6);

    background-color: green;
}

.debug .col-4 {
    height: 200px;
    width: 100px;
    background-color: rgb(228, 160, 161);
    border: 2px dotted;

}

.debug .col-2 {
    height: 200px;
    width: 100px;
    background-color: rgb(171, 220, 65);
    border: 2px dotted;
}

.debug .app-footer-foot {
    background-color: aquamarine
}

.debug .footer-app-logo {
    height: 20px;
    width: 50px;
    background-color: rgb(228, 160, 161);
    border: 2px dotted;
    margin: 1rem 0;
}

.debug .footer-app-button {
    height: 20px;
    width: 50px;
    background-color: rgb(228, 160, 161);
    border: 2px dotted;
    margin: 1rem 0;
}

/* #endregion debug */

/* #region header */
.app-header {
    background-image: url("./img/jumbo.png");
    background-size: cover;

}

.head-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}

/* links centrali header */
.app-link a {
    margin: 0 1rem;
    text-decoration: none;
    color: aliceblue;
}

/* links centrali header */
.app-login button {
    border-radius: 50px;
    padding: 7px 10px;
    border: none;

}

/* ----------------------------jumbo */
.jumbo {
    padding: 8rem;

    display: flex;
    flex-direction: column;
}

.jumbo h1 {
    color: aliceblue;
    text-align: center;
    padding: 1rem;
}

.jumbo p {
    color: aliceblue;
    text-align: center;
    padding: 1rem 3rem;
}

/* ---------------bottoni jumbo */
.jumbo .download_btn_browser {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.jumbo #download-btn {
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    width: fit-content;
    margin: 1rem;

}

.jumbo #download-btn i {
    padding-right: 0.5rem;

}

.jumbo #browser-link {
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    width: fit-content;
    margin: 1rem;
    color: aliceblue;
    background-color: var(--dark_grey);

}

/* ---------------bottoni jumbo */

/* ----------------------------jumbo */

/* #endregion header */

/* #region main */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}

/* -----------------------------contenuto righe */
/* bonus */
.grey-bg {
    background-image: url;
    background-color: grey;
    padding: 2rem 0;

}

/* bonus */
.app-image {
    width: calc(100% / 12 * 6);
}

.app-content {
    padding: 2rem;
    width: calc(100% / 12 * 4);
}

.app-content h2 {
    line-height: 2rem;
    margin-bottom: 2rem;
}

/* -----------------------------contenuto righe */
.large {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    /* questa regola funziona perché si sovrascrive essendo dopo la regola row , mette il blocco verde sotto al testo invece che accanto come sopra*/

}

/* #endregion main */

/* #region footer */
.app-footer {
    background-color: black;
}

.app-footer-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.app-footer hr {
    margin: 1rem 0;
}

.app-footer-foot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* #endregion footer */